h2 {
    color: #42ead6;
}

.s1 {
    color: rgb(227, 199, 60);
}
.s2 { 
    color: black;
}.z1
.z1{
    color: rgb(43, 255, 0);
}

.r1 { 
    color: brown;
    font-size: 25px;
}
.b1 {
    color: darkmagenta;
}
.b1 {
    color: chartreuse;
}
h1 {
    color: blue;
}